@import "tailwindcss";

.hero {
  @apply relative w-full h-300 overflow-hidden md:h-200 lg:h-200;
}

.hero__image {
  @apply absolute inset-0 w-full h-full object-cover object-center z-0;
}

.hero__overlay {
  @apply absolute inset-0 z-10 bg-gradient-to-r from-black/60  to-black/0;
}

.hero__content {
  @apply relative z-10 flex flex-col items-center justify-center gap-6
  w-full h-full px-4 py-8 pt-32 md:flex-row md:justify-between md:px-10 md:py-0 lg:px-20;
}

.hero__text {
  @apply flex flex-col gap-4 items-center text-center  text-white w-full max-w-xl md:w-1/2 md:text-start md:items-start ;

  h1, p{
    @apply text-white ;

  }
}
